# Impedir que se pueda ver el listado de contenidos de un directorio

Options All -Indexes

# Url Amigables

RewriteEngine On

RewriteRule ^([-a-zA-Z0-9/]+)$ index.php?ruta=$1

RewriteEngine On
RewriteCond %{HTTP_HOST} ^chocoshop.teamblack4ever\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.chocoshop.teamblack4ever\.com$
RewriteCond %{HTTPS} !on
RewriteRule ^(.*)$ https://chocoshop.teamblack4ever.com/$1 [R=301,L,NE]